<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">MJC^2 Scheduler</a>
        <div class="navbar" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" id="main-home-link">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="main-scheduler-link">Scheduler</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<table class="container">
    <thead>
        <tr id="tableHead">
            <th>Employee Name</th>
            <th>Post Hours</th>
            <th>
                <p>Sunday</p><span id="date0">11/04/2018</span>
            </th>
            <th>
                <p>Monday</p><span id="date1">11/05/2018</span>
            </th>
            <th>
                <p>Tuesday</p><span id="date2">11/06/2018</span>
            </th>
            <th>
                <p>Wednesday</p><span id="date3">11/07/2018</span>
            </th>
            <th>
                <p>Thursday</p><span id="date4">11/08/2018</span>
            </th>
            <th>
                <p>Friday</p><span id="date5">11/09/2018</span>
            </th>
            <th>
                <p>Saturday</p><span id="date6">11/10/2018</span>
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each users }}
        <tr>
            <td id="name{{id}}">{{userLastName}}, {{userFirstName}}</td>
            <td>
                <button class="post" id={{id}}>
                    Post
                </button>
            </td>

            {{#if sundayAvailable}}
            <td>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text tableLable">In</label>
                    </div>
                    <select class="custom-select" id="sunIn{{id}}">
                        <option value="-">-:--</option>
                        <option value="6:00 am">6:00</option>
                        <option value="7:00 am">7:00</option>
                        <option value="8:00 am">8:00</option>
                        <option value="9:00 am">9:00</option>
                        <option value="10:00 am">10:00</option>
                        <option value="11:00 am">11:00</option>
                        <option value="12:00 pm">12:00</option>
                        <option value="1:00 pm">1:00</option>
                        <option value="2:00 pm">2:00</option>
                        <option value="3:00 pm">3:00</option>
                        <option value="4:00 pm">4:00</option>
                        <option value="5:00 pm">5:00</option>
                        <option value="6:00 pm">6:00</option>
                        <option value="7:00 pm">7:00</option>
                        <option value="8:00 pm">8:00</option>
                        <option value="9:00 pm">9:00</option>
                        <option value="10:00 pm">10:00</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text tableLable">Out</label>
                    </div>
                    <select class="custom-select" id="sunOut{{id}}">
                        <option value="-">-:--</option>
                        <option value="6:00 am">6:00</option>
                        <option value="7:00 am">7:00</option>
                        <option value="8:00 am">8:00</option>
                        <option value="9:00 am">9:00</option>
                        <option value="10:00 am">10:00</option>
                        <option value="11:00 am">11:00</option>
                        <option value="12:00 pm">12:00</option>
                        <option value="1:00 pm">1:00</option>
                        <option value="2:00 pm">2:00</option>
                        <option value="3:00 pm">3:00</option>
                        <option value="4:00 pm">4:00</option>
                        <option value="5:00 pm">5:00</option>
                        <option value="6:00 pm">6:00</option>
                        <option value="7:00 pm">7:00</option>
                        <option value="8:00 pm">8:00</option>
                        <option value="9:00 pm">9:00</option>
                        <option value="10:00 pm">10:00</option>
                    </select>
                </div>
            </td>
            {{else}}
            <td></td>
            {{/if}}

            {{#if mondayAvailable}}
            <td>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text tableLable">In</label>
                    </div>
                    <select class="custom-select" id="monIn{{id}}">
                        <option value="-">-:--</option>
                        <option value="6:00 am">6:00</option>
                        <option value="7:00 am">7:00</option>
                        <option value="8:00 am">8:00</option>
                        <option value="9:00 am">9:00</option>
                        <option value="10:00 am">10:00</option>
                        <option value="11:00 am">11:00</option>
                        <option value="12:00 pm">12:00</option>
                        <option value="1:00 pm">1:00</option>
                        <option value="2:00 pm">2:00</option>
                        <option value="3:00 pm">3:00</option>
                        <option value="4:00 pm">4:00</option>
                        <option value="5:00 pm">5:00</option>
                        <option value="6:00 pm">6:00</option>
                        <option value="7:00 pm">7:00</option>
                        <option value="8:00 pm">8:00</option>
                        <option value="9:00 pm">9:00</option>
                        <option value="10:00 pm">10:00</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text tableLable">Out</label>
                    </div>
                    <select class="custom-select" id="monOut{{id}}">
                        <option value="-">-:--</option>
                        <option value="6:00 am">6:00</option>
                        <option value="7:00 am">7:00</option>
                        <option value="8:00 am">8:00</option>
                        <option value="9:00 am">9:00</option>
                        <option value="10:00 am">10:00</option>
                        <option value="11:00 am">11:00</option>
                        <option value="12:00 pm">12:00</option>
                        <option value="1:00 pm">1:00</option>
                        <option value="2:00 pm">2:00</option>
                        <option value="3:00 pm">3:00</option>
                        <option value="4:00 pm">4:00</option>
                        <option value="5:00 pm">5:00</option>
                        <option value="6:00 pm">6:00</option>
                        <option value="7:00 pm">7:00</option>
                        <option value="8:00 pm">8:00</option>
                        <option value="9:00 pm">9:00</option>
                        <option value="10:00 pm">10:00</option>
                    </select>
                </div>
            </td>
            {{else}}
            <td></td>
            {{/if}}

            {{#if tuesdayAvailable}}
            <td>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text tableLable">In</label>
                    </div>
                    <select class="custom-select" id="tueIn{{id}}">
                        <option value="-">-:--</option>
                        <option value="6:00 am">6:00</option>
                        <option value="7:00 am">7:00</option>
                        <option value="8:00 am">8:00</option>
                        <option value="9:00 am">9:00</option>
                        <option value="10:00 am">10:00</option>
                        <option value="11:00 am">11:00</option>
                        <option value="12:00 pm">12:00</option>
                        <option value="1:00 pm">1:00</option>
                        <option value="2:00 pm">2:00</option>
                        <option value="3:00 pm">3:00</option>
                        <option value="4:00 pm">4:00</option>
                        <option value="5:00 pm">5:00</option>
                        <option value="6:00 pm">6:00</option>
                        <option value="7:00 pm">7:00</option>
                        <option value="8:00 pm">8:00</option>
                        <option value="9:00 pm">9:00</option>
                        <option value="10:00 pm">10:00</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text tableLable">Out</label>
                    </div>
                    <select class="custom-select" id="tueOut{{id}}">
                        <option value="-">-:--</option>
                        <option value="6:00 am">6:00</option>
                        <option value="7:00 am">7:00</option>
                        <option value="8:00 am">8:00</option>
                        <option value="9:00 am">9:00</option>
                        <option value="10:00 am">10:00</option>
                        <option value="11:00 am">11:00</option>
                        <option value="12:00 pm">12:00</option>
                        <option value="1:00 pm">1:00</option>
                        <option value="2:00 pm">2:00</option>
                        <option value="3:00 pm">3:00</option>
                        <option value="4:00 pm">4:00</option>
                        <option value="5:00 pm">5:00</option>
                        <option value="6:00 pm">6:00</option>
                        <option value="7:00 pm">7:00</option>
                        <option value="8:00 pm">8:00</option>
                        <option value="9:00 pm">9:00</option>
                        <option value="10:00 pm">10:00</option>
                    </select>
                </div>
            </td>
            {{else}}
            <td></td>
            {{/if}}
            {{#if wednesdayAvailable}}
            <td>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text tableLable">In</label>
                    </div>
                    <select class="custom-select" id="wedIn{{id}}">
                        <option value="-">-:--</option>
                        <option value="6:00 am">6:00</option>
                        <option value="7:00 am">7:00</option>
                        <option value="8:00 am">8:00</option>
                        <option value="9:00 am">9:00</option>
                        <option value="10:00 am">10:00</option>
                        <option value="11:00 am">11:00</option>
                        <option value="12:00 pm">12:00</option>
                        <option value="1:00 pm">1:00</option>
                        <option value="2:00 pm">2:00</option>
                        <option value="3:00 pm">3:00</option>
                        <option value="4:00 pm">4:00</option>
                        <option value="5:00 pm">5:00</option>
                        <option value="6:00 pm">6:00</option>
                        <option value="7:00 pm">7:00</option>
                        <option value="8:00 pm">8:00</option>
                        <option value="9:00 pm">9:00</option>
                        <option value="10:00 pm">10:00</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text tableLable">Out</label>
                    </div>
                    <select class="custom-select" id="wedOut{{id}}">
                        <option value="-">-:--</option>
                        <option value="6:00 am">6:00</option>
                        <option value="7:00 am">7:00</option>
                        <option value="8:00 am">8:00</option>
                        <option value="9:00 am">9:00</option>
                        <option value="10:00 am">10:00</option>
                        <option value="11:00 am">11:00</option>
                        <option value="12:00 pm">12:00</option>
                        <option value="1:00 pm">1:00</option>
                        <option value="2:00 pm">2:00</option>
                        <option value="3:00 pm">3:00</option>
                        <option value="4:00 pm">4:00</option>
                        <option value="5:00 pm">5:00</option>
                        <option value="6:00 pm">6:00</option>
                        <option value="7:00 pm">7:00</option>
                        <option value="8:00 pm">8:00</option>
                        <option value="9:00 pm">9:00</option>
                        <option value="10:00 pm">10:00</option>
                    </select>
                </div>
            </td>
            {{else}}
            <td></td>
            {{/if}}

            {{#if thursdayAvailable}}
            <td>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text tableLable">In</label>
                    </div>
                    <select class="custom-select" id="thurIn{{id}}">
                        <option value="-">-:--</option>
                        <option value="6:00 am">6:00</option>
                        <option value="7:00 am">7:00</option>
                        <option value="8:00 am">8:00</option>
                        <option value="9:00 am">9:00</option>
                        <option value="10:00 am">10:00</option>
                        <option value="11:00 am">11:00</option>
                        <option value="12:00 pm">12:00</option>
                        <option value="1:00 pm">1:00</option>
                        <option value="2:00 pm">2:00</option>
                        <option value="3:00 pm">3:00</option>
                        <option value="4:00 pm">4:00</option>
                        <option value="5:00 pm">5:00</option>
                        <option value="6:00 pm">6:00</option>
                        <option value="7:00 pm">7:00</option>
                        <option value="8:00 pm">8:00</option>
                        <option value="9:00 pm">9:00</option>
                        <option value="10:00 pm">10:00</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text tableLable">Out</label>
                    </div>
                    <select class="custom-select" id="thurOut{{id}}">
                        <option value="-">-:--</option>
                        <option value="6:00 am">6:00</option>
                        <option value="7:00 am">7:00</option>
                        <option value="8:00 am">8:00</option>
                        <option value="9:00 am">9:00</option>
                        <option value="10:00 am">10:00</option>
                        <option value="11:00 am">11:00</option>
                        <option value="12:00 pm">12:00</option>
                        <option value="1:00 pm">1:00</option>
                        <option value="2:00 pm">2:00</option>
                        <option value="3:00 pm">3:00</option>
                        <option value="4:00 pm">4:00</option>
                        <option value="5:00 pm">5:00</option>
                        <option value="6:00 pm">6:00</option>
                        <option value="7:00 pm">7:00</option>
                        <option value="8:00 pm">8:00</option>
                        <option value="9:00 pm">9:00</option>
                        <option value="10:00 pm">10:00</option>
                    </select>
                </div>
            </td>
            {{else}}
            <td></td>
            {{/if}}

            {{#if fridayAvailable}}
            <td>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text tableLable">In</label>
                    </div>
                    <select class="custom-select" id="friIn{{id}}">
                        <option value="-">-:--</option>
                        <option value="6:00 am">6:00</option>
                        <option value="7:00 am">7:00</option>
                        <option value="8:00 am">8:00</option>
                        <option value="9:00 am">9:00</option>
                        <option value="10:00 am">10:00</option>
                        <option value="11:00 am">11:00</option>
                        <option value="12:00 pm">12:00</option>
                        <option value="1:00 pm">1:00</option>
                        <option value="2:00 pm">2:00</option>
                        <option value="3:00 pm">3:00</option>
                        <option value="4:00 pm">4:00</option>
                        <option value="5:00 pm">5:00</option>
                        <option value="6:00 pm">6:00</option>
                        <option value="7:00 pm">7:00</option>
                        <option value="8:00 pm">8:00</option>
                        <option value="9:00 pm">9:00</option>
                        <option value="10:00 pm">10:00</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text tableLable">Out</label>
                    </div>
                    <select class="custom-select" id="friOut{{id}}">
                        <option value="-">-:--</option>
                        <option value="6:00 am">6:00</option>
                        <option value="7:00 am">7:00</option>
                        <option value="8:00 am">8:00</option>
                        <option value="9:00 am">9:00</option>
                        <option value="10:00 am">10:00</option>
                        <option value="11:00 am">11:00</option>
                        <option value="12:00 pm">12:00</option>
                        <option value="1:00 pm">1:00</option>
                        <option value="2:00 pm">2:00</option>
                        <option value="3:00 pm">3:00</option>
                        <option value="4:00 pm">4:00</option>
                        <option value="5:00 pm">5:00</option>
                        <option value="6:00 pm">6:00</option>
                        <option value="7:00 pm">7:00</option>
                        <option value="8:00 pm">8:00</option>
                        <option value="9:00 pm">9:00</option>
                        <option value="10:00 pm">10:00</option>
                    </select>
                </div>
            </td>
            {{else}}
            <td></td>
            {{/if}}

            {{#if saturdayAvailable}}
            <td>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text tableLable">In</label>
                    </div>
                    <select class="custom-select" id="satIn{{id}}">
                        <option value="-">-:--</option>
                        <option value="6:00 am">6:00</option>
                        <option value="7:00 am">7:00</option>
                        <option value="8:00 am">8:00</option>
                        <option value="9:00 am">9:00</option>
                        <option value="10:00 am">10:00</option>
                        <option value="11:00 am">11:00</option>
                        <option value="12:00 pm">12:00</option>
                        <option value="1:00 pm">1:00</option>
                        <option value="2:00 pm">2:00</option>
                        <option value="3:00 pm">3:00</option>
                        <option value="4:00 pm">4:00</option>
                        <option value="5:00 pm">5:00</option>
                        <option value="6:00 pm">6:00</option>
                        <option value="7:00 pm">7:00</option>
                        <option value="8:00 pm">8:00</option>
                        <option value="9:00 pm">9:00</option>
                        <option value="10:00 pm">10:00</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text tableLable">Out</label>
                    </div>
                    <select class="custom-select" id="satOut{{id}}">
                        <option value="-">-:--</option>
                        <option value="6:00 am">6:00</option>
                        <option value="7:00 am">7:00</option>
                        <option value="8:00 am">8:00</option>
                        <option value="9:00 am">9:00</option>
                        <option value="10:00 am">10:00</option>
                        <option value="11:00 am">11:00</option>
                        <option value="12:00 pm">12:00</option>
                        <option value="1:00 pm">1:00</option>
                        <option value="2:00 pm">2:00</option>
                        <option value="3:00 pm">3:00</option>
                        <option value="4:00 pm">4:00</option>
                        <option value="5:00 pm">5:00</option>
                        <option value="6:00 pm">6:00</option>
                        <option value="7:00 pm">7:00</option>
                        <option value="8:00 pm">8:00</option>
                        <option value="9:00 pm">9:00</option>
                        <option value="10:00 pm">10:00</option>
                    </select>
                </div>
            </td>
            {{else}}
            <td></td>
            {{/if}}
        </tr>
        {{/each}}

    </tbody>
</table>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script>
    $(document).ready(function () {
        $("head").append("<link rel='stylesheet' href='styles/scheduler.css'>")
        // sticky header
        window.onscroll = function () { headerStick() };

        var header = document.getElementById("tableHead");
        var sticky = header.offsetTop;

        function headerStick() {
            if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
            }
        }

        // Post Button
        $(document).on("click", ".post", () => {
            let id = $(this)[0].activeElement.id
            let weekDay = ["sun", "mon", "tue", "wed", "thur", "fri", "sat"]

            for (let i = 0; i < 7; i++) {
                let beginHour = $(`#${weekDay[i]}In${id}`).val();
                let endHour = $(`#${weekDay[i]}Out${id}`).val();

                beginHour = moment(beginHour, "h:mm a").format("HH:mm:ss");
                endHour = moment(endHour, "h:mm a").format("HH:mm:ss");

                let newPost = {
                    scheduledDate: $(`#date${i}`).text(),
                    scheduledBeginHour: beginHour,
                    scheduledEndHour: endHour,
                    UserId: id
                };
                submitNewSchedule(newPost);
            };
        });
        const submitNewSchedule = newPost => {
            $.post("/api/scheduler/", newPost, () => {
                console.log("Posted");
            });
        };
    });

</script>