<table class="container">
    <thead>
        <tr id="tableHead">
            <th>Employee Name</th>
            <th>Employee Total hours</th>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
    </thead>
    <tbody>
        {{#each users }}
        <tr id="{{id}}">
            <td>{{userLastName}}, {{userFirstName}}</td>
            <td class="totalHours"></td>

            {{#if sundayAvailable}}
            <td>
                <label class="tableLable">In</label>
                <input type="text" class="timepicker tableInput" id="sunIn{{id}}">
                <label class="tableLable">Out</label>
                <input type="text" class="timepicker tableInput" id="sunOut{{id}}">
            </td>
            {{else}}
            <td></td>
            {{/if}}

            {{#if mondayAvailable}}
            <td>
                <label class="tableLable">In</label>
                <input type="text" class="timepicker tableInput" id="monIn{{id}}">
                <label class="tableLable">Out</label>
                <input type="text" class="timepicker tableInput" id="monOut{{id}}">
            </td>
            {{else}}
            <td></td>
            {{/if}}

            {{#if tuesdayAvailable}}
            <td>
                <label class="tableLable">In</label>
                <input type="text" class="timepicker tableInput" id="tueIn{{id}}">
                <label class="tableLable">Out</label>
                <input type="text" class="timepicker tableInput" id="tueOut{{id}}">
            </td>
            {{else}}
            <td></td>
            {{/if}}
            {{#if wednesdayAvailable}}
            <td>
                <label class="tableLable">In</label>
                <input type="text" class="timepicker tableInput" id="wedIn{{id}}">
                <label class="tableLable">Out</label>
                <input type="text" class="timepicker tableInput" id="wedOut{{id}}">
            </td>
            {{else}}
            <td></td>
            {{/if}}

            {{#if thursdayAvailable}}
            <td>
                <label class="tableLable">In</label>
                <input type="text" class="timepicker tableInput" id="thurIn{{id}}">
                <label class="tableLable">Out</label>
                <input type="text" class="timepicker tableInput" id="thurOut{{id}}">
            </td>
            {{else}}
            <td></td>
            {{/if}}

            {{#if fridayAvailable}}
            <td>
                <label class="tableLable">In</label>
                <input type="text" class="timepicker tableInput" id="friIn{{id}}">
                <label class="tableLable">Out</label>
                <input type="text" class="timepicker tableInput" id="friOut{{id}}">
            </td>
            {{else}}
            <td></td>
            {{/if}}

            {{#if saturdayAvailable}}
            <td>
                <label class="tableLable">In</label>
                <input type="text" class="timepicker tableInput" id="satIn{{id}}">
                <label class="tableLable">Out</label>
                <input type="text" class="timepicker tableInput" id="satOut{{id}}">
            </td>
            {{else}}
            <td></td>
            {{/if}}
        </tr>
        {{/each}}

    </tbody>
</table>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script>
    $("body").css("background-image", "url('../images/ySLiJ.jpg')");
    const timer = document.querySelector('.timepicker');
    M.Timepicker.init(timer, {});

    window.onscroll = function () { headerStick() };

    var header = document.getElementById("tableHead");
    var sticky = header.offsetTop;

    function headerStick() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    }

</script>