{{!-- <div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Schedule</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Add User</button>
        </form>
        <button class="btn btn-lg btn-danger"><a id="addUserButton" href="/adduser">Add User</a></button>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each users}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div> --}}

<body>
    {{!-- <div>
        <table class="container">
           <thead>
              <tr>
                  <th>Employee Name</th>
                  <th>Employee Total hours</th>
                  <th>Sunday</th>
                  <th>Monday</th>
                  <th>Tuesday</th>
                  <th>Wednesday</th>
                  <th>Thursday</th>
                  <th>Friday</th>
                  <th>Saturday</th>
              </tr>
          </thead>
        {{#each User}}
        <tr id="{{User.id}}">    
            <td>
                {{User.userLastname}}, {{User.FirstName}}
            </td>
            <td>
            </td>
            <td>
                {{#if User.sundayAvilable}}
                inputs
                  <label>In</label>
                  <input type="text" class="timepicker">
                  <label>Out</label>
                  <input type="text" class="timepicker">
                {{/if}}
            </td>
            <td>
                {{#if User.mondayAvilable}}
                inputs
                <label>In</label>
                <input type="text" class="timepicker">
                <label>Out</label>
                <input type="text" class="timepicker">
                {{/if}}
            </td>
            <td>
                {{#if User.tuesdayAvilable}}
                inputs
                <label>In</label>
                <input type="text" class="timepicker">
                <label>Out</label>
                <input type="text" class="timepicker">
                {{/if}}
            </td>
            <td>
                {{#if User.wednesdayAvilable}}
                inputs
                <label>In</label>
                <input type="text" class="timepicker">
                <label>Out</label>
                <input type="text" class="timepicker">
                {{/if}}
            </td>
            <td>
                {{#if User.thursdayAvilable}}
                inputs
                <label>In</label>
                <input type="text" class="timepicker">
                <label>Out</label>
                <input type="text" class="timepicker">
                {{/if}}
            </td>
            <td>
                {{#if User.fridayAvilable}}
                inputs
                <label>In</label>
                <input type="text" class="timepicker">
                <label>Out</label>
                <input type="text" class="timepicker">
                {{/if}}
            </td>
            <td>
                {{#if User.saturdayAvilable}}
                inputs
                <label>In</label>
                <input type="text" class="timepicker">
                <label>Out</label>
                <input type="text" class="timepicker">
                {{/if}}
            </td>
        </tr>
        {{/each}}
        </table>
    </div>  --}}


    <table class="container">
            <thead>
                <tr>
                    <th>Employee Name</th>
                    <th>Employee Total hours</th>
                    <th>Sunday</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                    <th>Saturday</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Leslie Knope</td>
                    <td>32</td>
                    <td>
                      <label>In</label>
                      <input type="text" class="timepicker">
                      <label>Out</label>
                      <input type="text" class="timepicker">
                    </td>
                    <td>
                        <p class="inOut">
                        <label>In</label> 
                        <input type="text">
                        </p>
                        <p class="inOut">
                        <label>Out</label> 
                        <input type="text">
                        </p>
                    </td>
                    <td>
                        <p class="inOut">
                        <label>In</label> 
                        <input type="text">
                        </p>
                        <p class="inOut">
                        <label>Out</label> 
                        <input type="text">
                        </p>
                    </td>
                    <td>
                        <p class="inOut">
                        <label>In</label> 
                        <input type="text">
                        </p>
                        <p class="inOut">
                        <label>Out</label> 
                        <input type="text">
                        </p>
                    </td>
                    <td>
                        <p class="inOut">
                        <label>In</label> 
                        <input type="text">
                        </p>
                        <p class="inOut">
                        <label>Out</label> 
                        <input type="text">
                        </p>
                    </td>
                    <td>
                        <p class="inOut">
                        <label>In</label> 
                        <input type="text">
                        </p>
                        <p class="inOut">
                        <label>Out</label> 
                        <input type="text">
                        </p>
                    </td>
                    <td>
                        <p class="inOut">
                        <label>In</label> 
                        <input type="text">
                        </p>
                        <p class="inOut">
                        <label>Out</label> 
                        <input type="text">
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>Ron Swanson</td>
                    <td>32</td>
                    <td>
                        <p class="inOut">
                        <label>In</label> 
                        <input type="text">
                        </p>
                        <p class="inOut">
                        <label>Out</label> 
                        <input type="text">
                        </p>
                    </td>
                    <td>
                        <p class="inOut">
                        <label>In</label> 
                        <input type="text">
                        </p>
                        <p class="inOut">
                        <label>Out</label> 
                        <input type="text">
                        </p>
                    </td>
                    <td>
                        <p class="inOut">
                        <label>In</label> 
                        <input type="text">
                        </p>
                        <p class="inOut">
                        <label>Out</label> 
                        <input type="text">
                        </p>
                    </td>
                    <td>
                        <p class="inOut">
                        <label>In</label> 
                        <input type="text">
                        </p>
                        <p class="inOut">
                        <label>Out</label> 
                        <input type="text">
                        </p>
                    </td>
                    <td>
                        <p class="inOut">
                        <label>In</label> 
                        <input type="text">
                        </p>
                        <p class="inOut">
                        <label>Out</label> 
                        <input type="text">
                        </p>
                    </td>
                    <td>
                        <p class="inOut">
                        <label>In</label> 
                        <input type="text">
                        </p>
                        <p class="inOut">
                        <label>Out</label> 
                        <input type="text">
                        </p>
                    </td>
                    <td>
                        <p class="inOut">
                        <label>In</label> 
                        <input type="text">
                        </p>
                        <p class="inOut">
                        <label>Out</label> 
                        <input type="text">
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>Tom Haverford</td>
                    <td>32</td>
                    <td>
                        <p class="inOut">
                        <label>In</label> 
                        <input type="text">
                        </p>
                        <p class="inOut">
                        <label>Out</label> 
                        <input type="text">
                        </p>
                    </td>
                    <td>
                        <p class="inOut">
                        <label>In</label> 
                        <input type="text">
                        </p>
                        <p class="inOut">
                        <label>Out</label> 
                        <input type="text">
                        </p>
                    </td>
                    <td>
                        <p class="inOut">
                        <label>In</label> 
                        <input type="text">
                        </p>
                        <p class="inOut">
                        <label>Out</label> 
                        <input type="text">
                        </p>
                    </td>
                    <td>
                        <p class="inOut">
                        <label>In</label> 
                        <input type="text">
                        </p>
                        <p class="inOut">
                        <label>Out</label> 
                        <input type="text">
                        </p>
                    </td>
                    <td>
                        <p class="inOut">
                        <label>In</label> 
                        <input type="text">
                        </p>
                        <p class="inOut">
                        <label>Out</label> 
                        <input type="text">
                        </p>
                    </td>
                    <td>
                        <p class="inOut">
                        <label>In</label> 
                        <input type="text">
                        </p>
                        <p class="inOut">
                        <label>Out</label> 
                        <input type="text">
                        </p>
                    </td>
                    <td>
                        <p class="inOut">
                        <label>In</label> 
                        <input type="text">
                        </p>
                        <p class="inOut">
                        <label>Out</label> 
                        <input type="text">
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>Jean-Ralphio</td>
                    <td>32</td>
                    <td>
                        <p class="inOut">
                        <label>In</label> 
                        <input type="text">
                        </p>
                        <p class="inOut">
                        <label>Out</label> 
                        <input type="text">
                        </p>
                    </td>
                    <td>
                        <p class="inOut">
                        <label>In</label> 
                        <input type="text">
                        </p>
                        <p class="inOut">
                        <label>Out</label> 
                        <input type="text">
                        </p>
                    </td>
                    <td>
                        <p class="inOut">
                        <label>In</label> 
                        <input type="text">
                        </p>
                        <p class="inOut">
                        <label>Out</label> 
                        <input type="text">
                        </p>
                    </td>
                    <td>
                        <p class="inOut">
                        <label>In</label> 
                        <input type="text">
                        </p>
                        <p class="inOut">
                        <label>Out</label> 
                        <input type="text">
                        </p>
                    </td>
                    <td>
                        <p class="inOut">
                        <label>In</label> 
                        <input type="text">
                        </p>
                        <p class="inOut">
                        <label>Out</label> 
                        <input type="text">
                        </p>
                    </td>
                    <td>
                        <p class="inOut">
                        <label>In</label> 
                        <input type="text">
                        </p>
                        <p class="inOut">
                        <label>Out</label> 
                        <input type="text">
                        </p>
                    </td>
                    <td>
                        <p class="inOut">
                        <label>In</label> 
                        <input type="text">
                        </p>
                        <p class="inOut">
                        <label>Out</label> 
                        <input type="text">
                        </p>
                    </td>
                </tr>
                             
            </tbody>
        </table>
</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script>
  $("body").css("background-image","none");
  const timer = document.querySelector('.timepicker');
  M.Timepicker.init(timer,{});
</script>
