<table class="container">
    <thead>
        <tr id="tableHead">
            <th>Employee Name</th>
            <th>Post Hours</th>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
    </thead>
    <tbody>
        {{#each users }}
        <tr>
            <td>{{userLastName}}, {{userFirstName}}</td>
            <td>
                <button class="post" id="{{id}}">
                    total
                </button>
            </td>

            {{#if sundayAvailable}}
            <td>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text tableLable" >In</label>
                    </div>
                    <select class="custom-select" id="sunIn{{id}}">
                        <option value="-">-:--</option>
                        <option value="6:00 am">6:00</option>
                        <option value="7:00 am">7:00</option>
                        <option value="8:00 am">8:00</option>
                        <option value="9:00 am">9:00</option>
                        <option value="10:00 am">10:00</option>
                        <option value="11:00 am">11:00</option>
                        <option value="12:00 pm">12:00</option>
                        <option value="1:00 pm">1:00</option>
                        <option value="2:00 pm">2:00</option>
                        <option value="3:00 pm">3:00</option>
                        <option value="4:00 pm">4:00</option>
                        <option value="5:00 pm">5:00</option>
                        <option value="6:00 pm">6:00</option>
                        <option value="7:00 pm">7:00</option>
                        <option value="8:00 pm">8:00</option>
                        <option value="9:00 pm">9:00</option>
                        <option value="10:00 pm">10:00</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text tableLable" >Out</label>
                    </div>
                    <select class="custom-select" id="sunOut{{id}}">
                        <option value="-">-:--</option>
                        <option value="6:00 am">6:00</option>
                        <option value="7:00 am">7:00</option>
                        <option value="8:00 am">8:00</option>
                        <option value="9:00 am">9:00</option>
                        <option value="10:00 am">10:00</option>
                        <option value="11:00 am">11:00</option>
                        <option value="12:00 pm">12:00</option>
                        <option value="1:00 pm">1:00</option>
                        <option value="2:00 pm">2:00</option>
                        <option value="3:00 pm">3:00</option>
                        <option value="4:00 pm">4:00</option>
                        <option value="5:00 pm">5:00</option>
                        <option value="6:00 pm">6:00</option>
                        <option value="7:00 pm">7:00</option>
                        <option value="8:00 pm">8:00</option>
                        <option value="9:00 pm">9:00</option>
                        <option value="10:00 pm">10:00</option>
                    </select>
                </div>
            </td>
            {{else}}
            <td></td>
            {{/if}}

            {{#if mondayAvailable}}
            <td>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text tableLable" >In</label>
                    </div>
                    <select class="custom-select" id="monIn{{id}}">
                        <option value="-">-:--</option>
                        <option value="6:00 am">6:00</option>
                        <option value="7:00 am">7:00</option>
                        <option value="8:00 am">8:00</option>
                        <option value="9:00 am">9:00</option>
                        <option value="10:00 am">10:00</option>
                        <option value="11:00 am">11:00</option>
                        <option value="12:00 pm">12:00</option>
                        <option value="1:00 pm">1:00</option>
                        <option value="2:00 pm">2:00</option>
                        <option value="3:00 pm">3:00</option>
                        <option value="4:00 pm">4:00</option>
                        <option value="5:00 pm">5:00</option>
                        <option value="6:00 pm">6:00</option>
                        <option value="7:00 pm">7:00</option>
                        <option value="8:00 pm">8:00</option>
                        <option value="9:00 pm">9:00</option>
                        <option value="10:00 pm">10:00</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text tableLable" >Out</label>
                    </div>
                    <select class="custom-select" id="monOut{{id}}">
                        <option value="-">-:--</option>
                        <option value="6:00 am">6:00</option>
                        <option value="7:00 am">7:00</option>
                        <option value="8:00 am">8:00</option>
                        <option value="9:00 am">9:00</option>
                        <option value="10:00 am">10:00</option>
                        <option value="11:00 am">11:00</option>
                        <option value="12:00 pm">12:00</option>
                        <option value="1:00 pm">1:00</option>
                        <option value="2:00 pm">2:00</option>
                        <option value="3:00 pm">3:00</option>
                        <option value="4:00 pm">4:00</option>
                        <option value="5:00 pm">5:00</option>
                        <option value="6:00 pm">6:00</option>
                        <option value="7:00 pm">7:00</option>
                        <option value="8:00 pm">8:00</option>
                        <option value="9:00 pm">9:00</option>
                        <option value="10:00 pm">10:00</option>
                    </select>
                </div>
            </td>
            {{else}}
            <td></td>
            {{/if}}

            {{#if tuesdayAvailable}}
            <td>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text tableLable" >In</label>
                    </div>
                    <select class="custom-select" id="tueIn{{id}}">
                        <option value="-">-:--</option>
                        <option value="6:00 am">6:00</option>
                        <option value="7:00 am">7:00</option>
                        <option value="8:00 am">8:00</option>
                        <option value="9:00 am">9:00</option>
                        <option value="10:00 am">10:00</option>
                        <option value="11:00 am">11:00</option>
                        <option value="12:00 pm">12:00</option>
                        <option value="1:00 pm">1:00</option>
                        <option value="2:00 pm">2:00</option>
                        <option value="3:00 pm">3:00</option>
                        <option value="4:00 pm">4:00</option>
                        <option value="5:00 pm">5:00</option>
                        <option value="6:00 pm">6:00</option>
                        <option value="7:00 pm">7:00</option>
                        <option value="8:00 pm">8:00</option>
                        <option value="9:00 pm">9:00</option>
                        <option value="10:00 pm">10:00</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text tableLable" >Out</label>
                    </div>
                    <select class="custom-select" id="tueOut{{id}}">
                        <option value="-">-:--</option>
                        <option value="6:00 am">6:00</option>
                        <option value="7:00 am">7:00</option>
                        <option value="8:00 am">8:00</option>
                        <option value="9:00 am">9:00</option>
                        <option value="10:00 am">10:00</option>
                        <option value="11:00 am">11:00</option>
                        <option value="12:00 pm">12:00</option>
                        <option value="1:00 pm">1:00</option>
                        <option value="2:00 pm">2:00</option>
                        <option value="3:00 pm">3:00</option>
                        <option value="4:00 pm">4:00</option>
                        <option value="5:00 pm">5:00</option>
                        <option value="6:00 pm">6:00</option>
                        <option value="7:00 pm">7:00</option>
                        <option value="8:00 pm">8:00</option>
                        <option value="9:00 pm">9:00</option>
                        <option value="10:00 pm">10:00</option>
                    </select>
                </div>
            </td>
            {{else}}
            <td></td>
            {{/if}}
            {{#if wednesdayAvailable}}
            <td>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text tableLable" >In</label>
                    </div>
                    <select class="custom-select" id="wedIn{{id}}">
                        <option value="-">-:--</option>
                        <option value="6:00 am">6:00</option>
                        <option value="7:00 am">7:00</option>
                        <option value="8:00 am">8:00</option>
                        <option value="9:00 am">9:00</option>
                        <option value="10:00 am">10:00</option>
                        <option value="11:00 am">11:00</option>
                        <option value="12:00 pm">12:00</option>
                        <option value="1:00 pm">1:00</option>
                        <option value="2:00 pm">2:00</option>
                        <option value="3:00 pm">3:00</option>
                        <option value="4:00 pm">4:00</option>
                        <option value="5:00 pm">5:00</option>
                        <option value="6:00 pm">6:00</option>
                        <option value="7:00 pm">7:00</option>
                        <option value="8:00 pm">8:00</option>
                        <option value="9:00 pm">9:00</option>
                        <option value="10:00 pm">10:00</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text tableLable" >Out</label>
                    </div>
                    <select class="custom-select" id="wedOut{{id}}">
                        <option value="-">-:--</option>
                        <option value="6:00 am">6:00</option>
                        <option value="7:00 am">7:00</option>
                        <option value="8:00 am">8:00</option>
                        <option value="9:00 am">9:00</option>
                        <option value="10:00 am">10:00</option>
                        <option value="11:00 am">11:00</option>
                        <option value="12:00 pm">12:00</option>
                        <option value="1:00 pm">1:00</option>
                        <option value="2:00 pm">2:00</option>
                        <option value="3:00 pm">3:00</option>
                        <option value="4:00 pm">4:00</option>
                        <option value="5:00 pm">5:00</option>
                        <option value="6:00 pm">6:00</option>
                        <option value="7:00 pm">7:00</option>
                        <option value="8:00 pm">8:00</option>
                        <option value="9:00 pm">9:00</option>
                        <option value="10:00 pm">10:00</option>
                    </select>
                </div>
            </td>
            {{else}}
            <td></td>
            {{/if}}

            {{#if thursdayAvailable}}
            <td>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text tableLable" >In</label>
                    </div>
                    <select class="custom-select" id="thurIn{{id}}">
                        <option value="-">-:--</option>
                        <option value="6:00 am">6:00</option>
                        <option value="7:00 am">7:00</option>
                        <option value="8:00 am">8:00</option>
                        <option value="9:00 am">9:00</option>
                        <option value="10:00 am">10:00</option>
                        <option value="11:00 am">11:00</option>
                        <option value="12:00 pm">12:00</option>
                        <option value="1:00 pm">1:00</option>
                        <option value="2:00 pm">2:00</option>
                        <option value="3:00 pm">3:00</option>
                        <option value="4:00 pm">4:00</option>
                        <option value="5:00 pm">5:00</option>
                        <option value="6:00 pm">6:00</option>
                        <option value="7:00 pm">7:00</option>
                        <option value="8:00 pm">8:00</option>
                        <option value="9:00 pm">9:00</option>
                        <option value="10:00 pm">10:00</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text tableLable" >Out</label>
                    </div>
                    <select class="custom-select" id="thurOut{{id}}">
                        <option value="-">-:--</option>
                        <option value="6:00 am">6:00</option>
                        <option value="7:00 am">7:00</option>
                        <option value="8:00 am">8:00</option>
                        <option value="9:00 am">9:00</option>
                        <option value="10:00 am">10:00</option>
                        <option value="11:00 am">11:00</option>
                        <option value="12:00 pm">12:00</option>
                        <option value="1:00 pm">1:00</option>
                        <option value="2:00 pm">2:00</option>
                        <option value="3:00 pm">3:00</option>
                        <option value="4:00 pm">4:00</option>
                        <option value="5:00 pm">5:00</option>
                        <option value="6:00 pm">6:00</option>
                        <option value="7:00 pm">7:00</option>
                        <option value="8:00 pm">8:00</option>
                        <option value="9:00 pm">9:00</option>
                        <option value="10:00 pm">10:00</option>
                    </select>
                </div>
            </td>
            {{else}}
            <td></td>
            {{/if}}

            {{#if fridayAvailable}}
            <td>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text tableLable" >In</label>
                    </div>
                    <select class="custom-select" id="friIn{{id}}">
                        <option value="-">-:--</option>
                        <option value="6:00 am">6:00</option>
                        <option value="7:00 am">7:00</option>
                        <option value="8:00 am">8:00</option>
                        <option value="9:00 am">9:00</option>
                        <option value="10:00 am">10:00</option>
                        <option value="11:00 am">11:00</option>
                        <option value="12:00 pm">12:00</option>
                        <option value="1:00 pm">1:00</option>
                        <option value="2:00 pm">2:00</option>
                        <option value="3:00 pm">3:00</option>
                        <option value="4:00 pm">4:00</option>
                        <option value="5:00 pm">5:00</option>
                        <option value="6:00 pm">6:00</option>
                        <option value="7:00 pm">7:00</option>
                        <option value="8:00 pm">8:00</option>
                        <option value="9:00 pm">9:00</option>
                        <option value="10:00 pm">10:00</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text tableLable" >Out</label>
                    </div>
                    <select class="custom-select" id="friOut{{id}}">
                        <option value="-">-:--</option>
                        <option value="6:00 am">6:00</option>
                        <option value="7:00 am">7:00</option>
                        <option value="8:00 am">8:00</option>
                        <option value="9:00 am">9:00</option>
                        <option value="10:00 am">10:00</option>
                        <option value="11:00 am">11:00</option>
                        <option value="12:00 pm">12:00</option>
                        <option value="1:00 pm">1:00</option>
                        <option value="2:00 pm">2:00</option>
                        <option value="3:00 pm">3:00</option>
                        <option value="4:00 pm">4:00</option>
                        <option value="5:00 pm">5:00</option>
                        <option value="6:00 pm">6:00</option>
                        <option value="7:00 pm">7:00</option>
                        <option value="8:00 pm">8:00</option>
                        <option value="9:00 pm">9:00</option>
                        <option value="10:00 pm">10:00</option>
                    </select>
                </div>
            </td>
            {{else}}
            <td></td>
            {{/if}}

            {{#if saturdayAvailable}}
            <td>
               <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text tableLable" >In</label>
                    </div>
                    <select class="custom-select" id="satIn{{id}}">
                        <option value="-">-:--</option>
                        <option value="6:00 am">6:00</option>
                        <option value="7:00 am">7:00</option>
                        <option value="8:00 am">8:00</option>
                        <option value="9:00 am">9:00</option>
                        <option value="10:00 am">10:00</option>
                        <option value="11:00 am">11:00</option>
                        <option value="12:00 pm">12:00</option>
                        <option value="1:00 pm">1:00</option>
                        <option value="2:00 pm">2:00</option>
                        <option value="3:00 pm">3:00</option>
                        <option value="4:00 pm">4:00</option>
                        <option value="5:00 pm">5:00</option>
                        <option value="6:00 pm">6:00</option>
                        <option value="7:00 pm">7:00</option>
                        <option value="8:00 pm">8:00</option>
                        <option value="9:00 pm">9:00</option>
                        <option value="10:00 pm">10:00</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text tableLable" >Out</label>
                    </div>
                    <select class="custom-select" id="satOut{{id}}">
                        <option value="-">-:--</option>
                        <option value="6:00 am">6:00</option>
                        <option value="7:00 am">7:00</option>
                        <option value="8:00 am">8:00</option>
                        <option value="9:00 am">9:00</option>
                        <option value="10:00 am">10:00</option>
                        <option value="11:00 am">11:00</option>
                        <option value="12:00 pm">12:00</option>
                        <option value="1:00 pm">1:00</option>
                        <option value="2:00 pm">2:00</option>
                        <option value="3:00 pm">3:00</option>
                        <option value="4:00 pm">4:00</option>
                        <option value="5:00 pm">5:00</option>
                        <option value="6:00 pm">6:00</option>
                        <option value="7:00 pm">7:00</option>
                        <option value="8:00 pm">8:00</option>
                        <option value="9:00 pm">9:00</option>
                        <option value="10:00 pm">10:00</option>
                    </select>
                </div>
            </td>
            {{else}}
            <td></td>
            {{/if}}
        </tr>
        {{/each}}

    </tbody>
</table>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script>
    $("body").css("background-image", "url('../images/ySLiJ.jpg')");
    $(document).ready(function () {
   
        // sticky header
        window.onscroll = function () { headerStick() };

        var header = document.getElementById("tableHead");
        var sticky = header.offsetTop;

        function headerStick() {
            if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
            }
        }
        $(".total").on("click", () => {
            console.log($("#sunday3").children(".timepicker-span-hours").val());
        })
    });


</script>