<table class="container">
    <thead>
        <tr id="tableHead">
            <th>Employee Name</th>
            <th>Employee Total hours</th>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
    </thead>

    <tbody>
        {{#each schedule }}
        <tr id="{{id}}">
            <td> {{name}}</td>
            <td></td>
        
            <td>
                <label class="tableLable">Hours to Work</label>
                <p>{{sunStart}} - {{sunEnd}}</p>
            </td>

             <td>
                <label class="tableLable">Hours to Work</label>
                <p>{{monStart}} - {{monEnd}}</p>
            </td>

             <td>
                <label class="tableLable">Hours to Work</label>
                <p>{{tueStart}} - {{tueEnd}}</p>
            </td>

             <td>
                <label class="tableLable">Hours to Work</label>
                <p>{{wedStart}} - {{wedEnd}}</p>
            </td>

             <td>
                <label class="tableLable">Hours to Work</label>
                <p>{{thurStart}} - {{thurEnd}}</p>
            </td>

             <td>
                <label class="tableLable">Hours to Work</label>
                <p>{{friStart}} - {{friEnd}}</p>
            </td>

             <td>
                <label class="tableLable">Hours to Work</label>
                <p>{{satStart}} - {{satEnd}}</p>
            </td>

        </tr>
        {{/each}}

    </tbody>
</table>
